PORT = 8080
DATABASE_URL = localhost
DATABASE_PORT = 5432
DATABASE_USER = postgres
DATABASE_PASS = alpha123
DATABASE_NAME = mylifelinewallet
SECRET = jWmZq4t7w!z%C*F-Juj7ujyRgUkXp2r5u8x/A?D(G+KbPeShVrts3t6v9y$B&E)H@Mc